.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(255, 0, 215);
  background: linear-gradient(
    56deg,
    rgba(255, 0, 215, 1) 6%,
    rgba(9, 175, 175, 1) 92%
  );
  color: white;
}

.quote {
  width: 100%;
  max-width: 800px;
  min-height: 180px;
  text-align: center;
  margin: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.btn {
  background-color: rgb(29, 190, 218);
  border: none;
  color: white;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.4s ease-in-out;
  background-color: rgb(238, 44, 173);
}

.btn2 {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
}
